@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
  }

.navbar-toggler {
    width: 15px;
    height: 15px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}


.menu {
    padding-left: 20px;
    padding-right: 20px;

}

.navbar-brand {
    font-family: Alata;
    font-size: 1.4rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.nav-link {
    position: relative;
    color: hsl(0, 0%, 100%) !important;
    font-family: Josefin Sans;
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
}


.nav-link[aria-current="page"],
.nav-item:hover{
    text-decoration: underline solid hsl(0, 0%, 100%) 0.2rem !important;
    text-underline-offset: 0.6rem;
}

.nav-links {
    margin-top: 5rem;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: .15rem;
    width: 100%;
    background: hsl(0, 0%, 100%);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition:  .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked*/


.navbar-toggler .top-bar {
    margin-top: 0px;
    transform:  rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity:  0;
    filter:  alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top:  0px;
    transform:  rotate(-135deg);
}

/* State when the navbar is collapsed*/

.navbar-toggler.collapsed .top-bar {
    margin-top:  -8px;
    transform:  rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter:  alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top:  8px;
    transform:  rotate(0deg);
}

.offcanvas {
    margin-top: 0rem !important;
    background-color: hsl(0, 0%, 0%);
}

#navbar-content {
    margin-top: 50px;
}

.attribution { 
    font-family: Alata;
    font-size: 11px; 
    text-align: center; 
    margin: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.header {
    background-image: url('./loopstudios-landing-conent/images/mobile/image-hero.jpg');
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.header-content {
    position: absolute;
    top: 35%;
    margin: auto 1rem;
    background: transparent;
    border: 2px solid hsl(0, 0%, 100%);
}

.header-info {
    text-transform: uppercase;
    padding: 1.8rem;
    color: hsl(0, 0%, 100%);
    font-family: Josefin Sans;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}

.interactive {
    margin-top: 5rem;
    text-align: center;
}

.interactive-section {
    padding: .8rem;
}

picture,
.interactive-image {
    display: block;
    width: 100%;
}

picture > img,
.interactive-image> img {
    width: 100%;
    object-fit: cover;
}

.interactive-contents {
    padding: 1.8rem;
}

.interactive-heading {
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 1rem;
    color: hsl(0, 0%, 41%);
}

.interactive-text{
    font-family: Josefin Sans;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 1rem;
    color: hsl(0, 0%, 55%);
}

.creations-section {
    padding: .8rem;
    text-align: center;
}

.creations-heading {
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(0, 0%, 41%);
}

.creations-images {
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
    }

.upper-images,
.lower-images {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    margin: auto;
}

.deep-earth {
    background: url("./loopstudios-landing-conent/images/mobile/image-deep-earth.jpg") scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.night-arcade {
    background: url("./loopstudios-landing-conent/images/mobile/image-night-arcade.jpg") scroll; 
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 1.5rem;
}

.soccer-team {
    background: url("./loopstudios-landing-conent/images/mobile/image-soccer-team.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.the-grid {
    background: url("./loopstudios-landing-conent/images/mobile/image-grid.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.pocket-borealis {
    background: url("./loopstudios-landing-conent/images/mobile/image-pocket-borealis.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.up-above {
    background: url("./loopstudios-landing-conent/images/mobile/image-from-above.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.the-curiosity {
    background: url("./loopstudios-landing-conent/images/mobile/image-curiosity.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.make-fisheye {
    background: url("./loopstudios-landing-conent/images/mobile/image-fisheye.jpg") scroll;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.night-arcade-text, .pocket-borealis-text,
.soccer-team-text, .the-curiosity-text, .deep-earth-text,
.the-grid-text, .make-fisheye-text, .up-above-text {
    text-transform: uppercase;
    text-align: left;
    font-family: Josefin Sans;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3rem;
    margin-top: 2.5rem;
    margin-left: 1rem;
    color: hsl(0, 0%, 90%);
}

.section-btn {
    position: absolute;
    margin-top: 1.3rem;
    width: 40%;
    left: 30%;
    font-family: Alata;
    text-transform: uppercase;
    color: hsl(0, 0%, 41%);
    outline: 1px solid hsl(0, 0%, 41%);
    border-radius: 2px;
}


.main-footer {
    margin-top: 8rem;
    text-align: center;
    padding: .4rem;
    background-color: hsl(0, 0%, 0%);
}

.footer-navbar {
    margin: auto ;
    text-align: center;
}

.footer-nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto ;
    text-align: center;
}

.footer-nav-links li {
    margin: .4rem;
}

.footer-nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%) !important;
    font-family: Josefin Sans;
    font-size: 0.8rem;
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
}

.social-icons img {
    height: 1.2rem;
    margin: .3rem;
}

.copyright span {
    color: hsl(0, 0%, 55%);
    font-family: Alata;
    font-size: 0.8rem;
}


@media only screen and (min-width: 375px) {
    .header-info {
        text-transform: uppercase;
        padding: 1.8rem;
        width: 40%;
        color: hsl(0, 0%, 100%);
        font-family: Josefin Sans;
        font-size: 2rem;
        font-weight: 300;
        text-align: left;
    }
}


@media only screen and (min-width: 768px) {

    .nav-link {
        color: hsl(0, 0%, 100%) !important;
        font-family: Alata;
        font-size: 0.9rem;
        text-transform: capitalize;
        cursor: pointer;
    }

    /* .nav-link.active, */
    
    .nav-links {
        margin-top: 0;
    }

    #navbar-content {
        margin-top: 0;
    }

    .header {
        background-image: url('./loopstudios-landing-conent/images/desktop/image-hero.jpg') no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 100vh;
    }

    .header-content {
        position: absolute;
        width: 50%;
        top: 55%;
        left: 35%;
        transform: translate(-65%, -45%);
        background: transparent;
        border: 2px solid hsl(0, 0%, 100%);
    }

    .header-info {
        text-transform: uppercase;
        margin: auto;
        width: 100%;
        padding: 2rem;
        color: hsl(0, 0%, 100%);
        font-family: Josefin Sans;
        font-size: 2.6rem;
        font-weight: 300;
        text-align: left;
    } 

    .interactive {
        padding: 1.2rem;
    }

    .interactive-image {
        width: 60%;
    }

    .interactive-heading {
        text-align: left;
        font-size: 2.2rem;
    }

    .interactive-contents {
        position: absolute;
        width: 50%;
        left: 46%;
        margin-top: 6rem;
        padding: 2rem;
        background-color: hsl(0, 0%, 100%);
    }

    .interactive-text {
        text-align: left;
    }

    .creations-section {
        position: relative;
        padding: .8rem;
        text-align: center;
        margin-top: 4rem;
    }

    .creations-heading {
        margin-left: 3rem;
        margin-top: 2rem;
        font-size: 2rem;
        text-align: left;
    }

    .creations-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        padding: 0 2rem;
    }

    .upper-images,
    .lower-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        margin-top: 1rem;
    }

    .deep-earth {
        background: url("./loopstudios-landing-conent/images/desktop/image-deep-earth.jpg") scroll no-repeat;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
        margin-left: .3rem;
    }
    
    .night-arcade {
        background: url("./loopstudios-landing-conent/images/desktop/image-night-arcade.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
    }
    
    .soccer-team {
        background: url("./loopstudios-landing-conent/images/desktop/image-soccer-team.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
    }
    
    .the-grid {
        background: url("./loopstudios-landing-conent/images/desktop/image-grid.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
    }
    
    .pocket-borealis {
        background: url("./loopstudios-landing-conent/images/desktop/image-pocket-borealis.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
    }
    
    .up-above {
        background: url("./loopstudios-landing-conent/images/desktop/image-from-above.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
        margin-left: .2rem;
    }
    
    .the-curiosity {
        background: url("./loopstudios-landing-conent/images/desktop/image-curiosity.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
        margin-right: 1.4rem;
    }
    
    .make-fisheye {
        background: url("./loopstudios-landing-conent/images/desktop/image-fisheye.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 22%;
        height: 24rem;
    }

    .night-arcade-text, .pocket-borealis-text,
.soccer-team-text, .the-curiosity-text, .deep-earth-text,
.the-grid-text, .make-fisheye-text, .up-above-text {
    text-transform: uppercase;
    text-align: left;
    font-family: Josefin Sans;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3rem;
    margin-top: 20rem;
    margin-left: 1.3rem;
    color: hsl(0, 0%, 90%);
}

    .section-btn {
        position: absolute;
        margin-top: 0;
        width: 12%;
        top: 4%;
        left: 80%;
        font-family: Alata;
        text-transform: uppercase;
        color: hsl(0, 0%, 41%);
        outline: 1px solid hsl(0, 0%, 41%);
        border-radius: 2px;
    }


    .main-footer {
        margin-top: 4rem;
        text-align: center;
        padding: .4rem;
        background-color: hsl(0, 0%, 0%);
    }
    
    .footer-nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto ;
        text-align: center;
    }
    
    .logo {
        width: 80%;
        text-align: left;
        margin: auto 3.2rem;
        margin-top: .6rem;
    }


    .social-icons {
        width: 80%;
        text-align: right;
        margin: auto 1rem;
        margin-top:  .8rem;
    }

    .copyright {
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 1024px) {
    .logo {
        width: 80%;
        text-align: left;
        margin: auto 7rem;
        margin-top: .6rem;
    }


    .social-icons {
        width: 80%;
        text-align: right;
        margin: auto -2rem;
        margin-top:  .6rem;
    }
}


@media only screen and (min-width: 1280px) {
    .menu {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .nav-link {
        color: hsl(0, 0%, 100%) !important;
        font-family: Alata;
        font-size: 0.9rem;
        text-transform: capitalize;
        cursor: pointer;
    }

    /* .nav-link.active, */
    

    #navbar-content {
        margin-top: 0;
    }

    .header {
        background-image: url('./loopstudios-landing-conent/images/desktop/image-hero.jpg') no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 100vh;
    }

    .header-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-86%, -12%);
        background: transparent;
        border: 2px solid hsl(0, 0%, 100%);
    }

    .header-info {
        text-transform: uppercase;
        margin: auto;
        width: 100%;
        padding: 2rem;
        color: hsl(0, 0%, 100%);
        font-family: Josefin Sans;
        font-size: 3.6rem;
        font-weight: 300;
        text-align: left;
    } 

    .interactive {
        padding: 1.2rem;
    }

    .interactive-image {
        width: 60%;
    }

    .interactive-heading {
        text-align: left;
        font-size: 2.2rem;
    }

    .interactive-contents {
        position: absolute;
        width: 40%;
        left: 46%;
        margin-top: 9rem;
        padding: 4rem;
        background-color: hsl(0, 0%, 100%);
    }

    .interactive-text {
        text-align: left;
    }

    .creations-section {
        position: relative;
        padding: auto 2rem;
        text-align: center;
        margin-top: 4rem;
    }

    .creations-heading {
        margin-left: 4rem;
        margin-top: 2rem;
        font-size: 2.2rem;
        text-align: left;
    }

    .creations-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        padding:  0 3rem 0 3rem;
    }

    .upper-images,
    .lower-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        margin-top: 1.4rem;
    }

    .deep-earth {
        background: url("./loopstudios-landing-conent/images/desktop/image-deep-earth.jpg") scroll no-repeat;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
        margin-left: .3rem;
    }
    
    .night-arcade {
        background: url("./loopstudios-landing-conent/images/desktop/image-night-arcade.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
    }
    
    .soccer-team {
        background: url("./loopstudios-landing-conent/images/desktop/image-soccer-team.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
    }
    
    .the-grid {
        background: url("./loopstudios-landing-conent/images/desktop/image-grid.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
    }
    
    .pocket-borealis {
        background: url("./loopstudios-landing-conent/images/desktop/image-pocket-borealis.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
    }
    
    .up-above {
        background: url("./loopstudios-landing-conent/images/desktop/image-from-above.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
        margin-left: .2rem;
    }
    
    .the-curiosity {
        background: url("./loopstudios-landing-conent/images/desktop/image-curiosity.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
        margin-right: 1.4rem;
    }
    
    .make-fisheye {
        background: url("./loopstudios-landing-conent/images/desktop/image-fisheye.jpg") scroll no-repeat;
        margin-top: 0;
        background-size: cover;
        width: 23%;
        height: 28rem;
    }

    .night-arcade-text, .pocket-borealis-text,
.soccer-team-text, .the-curiosity-text, .deep-earth-text,
.the-grid-text, .make-fisheye-text, .up-above-text {
    text-transform: uppercase;
    text-align: left;
    font-family: Josefin Sans;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3rem;
    margin-top: 23rem;
    margin-left: 2rem;
    color: hsl(0, 0%, 90%);
}

    .section-btn {
        position: absolute;
        margin-top: 0;
        width: 12%;
        top: 4%;
        left: 80%;
        font-family: Alata;
        text-transform: uppercase;
        color: hsl(0, 0%, 41%);
        outline: 1px solid hsl(0, 0%, 41%);
        border-radius: 2px;
    }


    .main-footer {
        margin-top: 5rem;
        text-align: center;
        padding: .4rem;
        background-color: hsl(0, 0%, 0%);
    }
    
    .footer-nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto ;
        text-align: center;
    }
    
    .logo {
        width: 80%;
        text-align: left;
        margin: auto 11.2rem;
        margin-top: .6rem;
    }


    .social-icons {
        width: 80%;
        text-align: right;
        margin: auto -4.2rem;
        margin-top:  .6rem;
    }

    .copyright {
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 1440px) {
    .interactive-contents {
        position: absolute;
        width: 35%;
        left: 46%;
        margin-top: 11rem;
        padding: 4rem;
        background-color: hsl(0, 0%, 100%);
    }

    .logo {
        width: 80%;
        text-align: left;
        margin: auto 13.5rem;
        margin-top: .6rem;
    }


    .social-icons {
        width: 80%;
        text-align: right;
        margin: auto -6rem;
        margin-top:  .6rem;
    }
}
